:root {
  --background: #ffffff;
  --foreground: #252020;
  --primary: #eb4c6b;
  --border-light: #e5e5e5;
  --text-muted: #888792;
  --text-dark: #252020;
  --header-height: 80px;

  /* Font variables */
  --font-primary: "Inter", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Base utility layout classes */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 80px;
  }
}
