.grid {
  display: grid;
  gap: 40px 16px;
  width: 100%;
}

.withFilter {
  grid-template-columns: repeat(3, 1fr);
}

.withoutFilter {
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1024px) {
  .grid {
    gap: 30px 15px;
  }
  .withFilter {
    grid-template-columns: repeat(2, 1fr);
  }
  .withoutFilter {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    gap: 20px 10px;
  }
  .withFilter, .withoutFilter {
    grid-template-columns: repeat(2, 1fr);
  }
}
